MCP_EXPOSED_DIRECTORY={{ mcp_canonical_directory.stdout }}
MCP_BIND_ADDRESS={{ local_documents_mcp_bind_address }}
MCP_PORT={{ local_documents_mcp_port }}
MCP_ENDPOINT={{ local_documents_mcp_endpoint }}
MCP_MAX_FILE_SIZE_MB={{ local_documents_mcp_max_file_size_mb }}
MCP_MAX_DIRECTORY_ITEMS={{ local_documents_mcp_max_directory_items }}
MCP_MAX_SEARCH_FILES={{ local_documents_mcp_max_search_files }}
MCP_MAX_SEARCH_RESULTS={{ local_documents_mcp_max_search_results }}
MCP_HIDDEN_FILES_ENABLED={{ local_documents_mcp_hidden_files_enabled | lower }}
MCP_ALLOWED_EXTENSIONS={{ local_documents_mcp_allowed_extensions | join(',') }}
MCP_BLOCKED_EXTENSIONS={{ local_documents_mcp_blocked_extensions | join(',') }}
MCP_BLOCKED_FILENAMES={{ local_documents_mcp_blocked_filenames | join(',') }}
