{
  "servers": {
    "local-documents": {
      "type": "http",
      "url": "http://{{ local_documents_mcp_bind_address }}:{{ local_documents_mcp_port }}{{ local_documents_mcp_endpoint }}"
    }
  }
}
